---
import '@fontsource-variable/merienda';
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import AboutMe from '@components/AboutMe.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	<Header />
	<AboutMe />	
	</main>
</Layout>