---
interface Props {
  title: string;
  body: string[];
}

const { title, body } = Astro.props as Props;

---


<div class="text-center">
  <div class="text-3xl text-black-300 p-8 mt-8">
    {title}
  </div>
  <div class="pl-4 text-gray-600">
  {body.map(content => (
    <p >{content}</p>
   ))}
   </div>
</div>